* {
    margin: 0;
    border: 0;
    align-items: center;
    text-align: center;
    background-color: #292424;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    padding-top: 1%;
}

.forms__style {
    padding-top: 1%;
    display: inline-flex;
    margin-left: 1%;
}

button {
    font-size: 13px;
    font-weight: bolder;
    background: black;
    padding: 10px;
    border-radius: 15px;
    border-color: #fff;
    border-style: solid;
    border-width: 2px;
}

.button__style {
    padding-top: 1%;
}